Repository containers/omlmd, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Docs and website, Area/End to End, Area/Core, Area/GitHub CI and repo maintenance

.github/labeler.yml:

Area/Docs and website:
- changed-files:
  - any-glob-to-any-file: docs/**

Area/End to End:
- changed-files:
  - any-glob-to-any-file: e2e/**

Area/Core:
- changed-files: 
  - any-glob-to-any-file: omlmd/**

Area/GitHub CI and repo maintenance:
- changed-files:
  - any-glob-to-any-file: .github/**

deps: reduce dependency tree
  poetry.lock
  pyproject.toml
Labels: none

deps: reduce dependency tree (#20)
  poetry.lock
  pyproject.toml
Labels: none

deps: reduce dependency tree (#20)
  poetry.lock
  pyproject.toml
Labels: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

enable large file upload
  omlmd/helpers.py
  poetry.lock
  pyproject.toml
Labels: Area/Core

bump oras-py to 0.2.21
  poetry.lock
  pyproject.toml
Labels: none

test chunked uploads
  .gitignore
  tests/test_helpers.py
Labels: none

enable large file upload (#13)
  .gitignore
  omlmd/helpers.py
  poetry.lock
  pyproject.toml
  tests/test_helpers.py
Labels: Area/Core

chore: version bump to next version
  pyproject.toml
Labels: none

chore: version bump to next version (#21)
  pyproject.toml
Labels: none

reproducer
  tests/test_helpers.py
Labels: none

fix and refactor
  poetry.lock
  pyproject.toml
  tests/test_helpers.py
Labels: none

support `:` in model source (#22)
  poetry.lock
  pyproject.toml
  tests/test_helpers.py
Labels: none

deps: oras-py version bump
  poetry.lock
  pyproject.toml
Labels: none

deps: oras-py version bump (#23)
  poetry.lock
  pyproject.toml
Labels: none

deps: oras-py version bump (#23)
  poetry.lock
  pyproject.toml
Labels: none

use relative imports
  omlmd/cli.py
  omlmd/helpers.py
  omlmd/listener.py
  omlmd/provider.py
  tests/test_e2e_model_registry.py
  tests/test_helpers.py
Labels: Area/Core

use dataclass where possible
  omlmd/cli.py
  omlmd/helpers.py
  omlmd/listener.py
Labels: Area/Core

remove TODO re oras-py#146
  omlmd/provider.py
  poetry.lock
  pyproject.toml
  tests/test_e2e_model_registry.py
  tests/test_helpers.py
Labels: Area/Core

patch missing test metadata
  tests/test_e2e_model_registry.py
Labels: none

update with suggestions
  omlmd/cli.py
  omlmd/helpers.py
  omlmd/listener.py
  tests/test_e2e_model_registry.py
Labels: Area/Core

store entire response on push
  omlmd/helpers.py
  omlmd/listener.py
  poetry.lock
  pyproject.toml
  tests/test_e2e_model_registry.py
Labels: Area/Core

skip 2xx check on Oras-py Registry.push response
  omlmd/helpers.py
  omlmd/listener.py
  tests/test_e2e_model_registry.py
Labels: Area/Core

core: implement TODO and relative import cleanup (#24)
  omlmd/cli.py
  omlmd/helpers.py
  omlmd/listener.py
  omlmd/provider.py
  poetry.lock
  pyproject.toml
  tests/test_e2e_model_registry.py
  tests/test_helpers.py
Labels: Area/Core

get rid of is_empty
  omlmd/helpers.py
  omlmd/model_metadata.py
  tests/test_omlmd.py
Labels: Area/Core

improve edge-case error message
  omlmd/helpers.py
Labels: Area/Core

skip exporting metadata as yaml
  omlmd/constants.py
  omlmd/helpers.py
  omlmd/model_metadata.py
  tests/test_omlmd.py
Labels: Area/Core

upload as image
  Makefile
  e2e/test_cli.sh
  omlmd/cli.py
  omlmd/constants.py
  omlmd/helpers.py
  omlmd/listener.py
  omlmd/model_metadata.py
  tests/test_e2e_model_registry.py
  tests/test_helpers.py
  tests/test_omlmd.py
Labels: Area/End to End, Area/Core

skip exporting metadata as yaml
  omlmd/constants.py
  omlmd/helpers.py
  omlmd/listener.py
  omlmd/model_metadata.py
  tests/test_e2e_model_registry.py
  tests/test_omlmd.py
Labels: Area/Core

e2e: improve CLI test script
  Makefile
  e2e/test_cli.sh
Labels: Area/End to End

upload as image
  e2e/quay-lite/config.yaml
  e2e/quay-lite/quay-app-config.yaml
  e2e/test_cli.sh
  omlmd/cli.py
  omlmd/constants.py
  omlmd/helpers.py
  tests/test_helpers.py
Labels: Area/End to End, Area/Core

bump oras
  poetry.lock
  pyproject.toml
Labels: none

chore: misc version bumps
  poetry.lock
Labels: none

chore: misc version bumps (#26)
  poetry.lock
Labels: none

ci: add dependabot
  .github/dependabot.yml
Labels: Area/GitHub CI and repo maintenance

ci: add dependabot (#27)
  .github/dependabot.yml
Labels: Area/GitHub CI and repo maintenance

gha: pin py version for doc generation
  .github/workflows/docs.yaml
Labels: Area/GitHub CI and repo maintenance

gha: pin py version for doc generation (#34)
  .github/workflows/docs.yaml
Labels: Area/GitHub CI and repo maintenance

deps: pin oras to 0.2.33 for now
  poetry.lock
  pyproject.toml
Labels: none
