Repository containers/omlmd, changes with the labels that .github/labeler.yml gives for each.
All labels: Area/Docs and website, Area/End to End, Area/Core, Area/GitHub CI and repo maintenance

deps: pin oras to 0.2.33 for now (#44)
  poetry.lock
  pyproject.toml
Labels: none

deps: bump MR deployment to 0.2.20
  .github/workflows/e2e.yaml
  e2e/deploy_model_registry.sh
Labels: Area/End to End, Area/GitHub CI and repo maintenance

deps: bump MR deployment to 0.2.20 (#57)
  .github/workflows/e2e.yaml
  e2e/deploy_model_registry.sh
Labels: Area/End to End, Area/GitHub CI and repo maintenance

deps: bump MR version to 0.2.21
  e2e/deploy_model_registry.sh
Labels: Area/End to End

deps: bump MR version to 0.2.21 (#62)
  e2e/deploy_model_registry.sh
Labels: Area/End to End

bump script file too
  e2e/deploy_model_registry.sh
Labels: Area/End to End

bump MR backend manifest installations too
  e2e/deploy_model_registry.sh
Labels: Area/End to End

bump MR backend manifest installations too
  e2e/deploy_model_registry.sh
Labels: Area/End to End

also update manually scripts
  e2e/deploy_model_registry.sh
Labels: Area/End to End

align install script
  e2e/deploy_model_registry.sh
Labels: Area/End to End

deps: comment out tool only used once in demo
  poetry.lock
  pyproject.toml
Labels: none

deps: comment out tool only used once in demo (#126)
  poetry.lock
  pyproject.toml
Labels: none

docs: expand on overview
  Makefile
  docs/overview.md
  mkdocs.yml
Labels: Area/Docs and website

py(core): draft CLI
  omlmd/cli.py
  omlmd/helpers.py
  omlmd/provider.py
  poetry.lock
  pyproject.toml
Labels: Area/Core

py(core): extend CLI to Push command
  omlmd/cli.py
  omlmd/helpers.py
  omlmd/model_metadata.py
  poetry.lock
  pyproject.toml
  tests/data/md.json
  tests/test_helpers.py
  tests/test_omlmd.py
Labels: Area/Core

core: add end-to-end testing with distribution (#1)
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  docs/demos/demo.ipynb
  e2e/deploy_distribution_registry.sh
  e2e/distribution-registry/distribution-registry.yaml
  omlmd/helpers.py
  omlmd/provider.py
  pyproject.toml
  tests/conftest.py
  tests/test_helpers.py
Labels: Area/Docs and website, Area/End to End, Area/Core, Area/GitHub CI and repo maintenance

chore: refactor makefile and docs appendix (#3)
  .github/workflows/build.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .gitignore
  Makefile
  docs/appendixes/appendix-links.md
  docs/appendixes/gen-appendix-links.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/conftest.py
Labels: Area/Docs and website, Area/GitHub CI and repo maintenance

chore: amend GHA for docs build
  .github/workflows/docs.yaml
Labels: Area/GitHub CI and repo maintenance

chore: bump next version
  pyproject.toml
Labels: none

chore: bump next version
  pyproject.toml
Labels: none

chore: change links following migration from tarilabs to containers
  README.md
  docs/appendixes/appendix-links.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
Labels: Area/Docs and website

core: re-use metadata files if found in directory (#11)
  omlmd/helpers.py
  omlmd/model_metadata.py
  tests/test_omlmd.py
Labels: Area/Core

chore: refactor for constants (#12)
  omlmd/constants.py
  omlmd/helpers.py
  tests/test_helpers.py
Labels: Area/Core

.github/labeler.yml:

Area/Docs and website:
- changed-files:
  - any-glob-to-any-file: docs/**

Area/End to End:
- changed-files:
  - any-glob-to-any-file: e2e/**

Area/Core:
- changed-files: 
  - any-glob-to-any-file: omlmd/**

Area/GitHub CI and repo maintenance:
- changed-files:
  - any-glob-to-any-file: .github/**
